@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('http://fonts.googleapis.com/css?family=Montserrat');

#logo {
  font-family: Lato, Arial, sans-serif;
  font-size: 7em;
}

.subtitle {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 2.6em;
}

.subbutton {
  margin-top: 20px;
}
